.nav_our{
	width: 100%;
	background: #ffffff;
}
.nav_our ul{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
}
.nav_our ul a{
	height: 0.88rem;
	width: 25%;
	font-size: 0.28rem;
	line-height: 0.88rem;
	text-align: center;
}
.active{
	border-bottom: 3px solid #114579;
	color:#114579 ;
}
.introduce{
	margin-top: 0;
	padding-top: 0.1rem;
}
.introduce h2{
	font-size: 0.28rem;
	color: #464646;
}
.introduce .article .right_a p{
	padding-top: 0.1rem;
	color: #909090;
	font-size: 0.24rem;
	line-height: 0.3rem;
}
.video{
	padding-bottom: 0.22rem;
}
.video h1{
	font-size: 0.28rem;
	padding-top: 0.2rem;
}
.video .list ul{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
     -moz-box-pack: justify;
}
.video .list ul img{
	width: 1.9rem;
	height: 1.3rem;
	display: block;
}
.video .list ul p{
	font-size: 0.24rem;
	color: #909090;
}
body .me_modal{
	display: block;
}

.pro_s h1{
	font-size: 0.28rem;
	border-left: 4px solid #3593f2;
	padding: 0;
	height: 0.31rem;
	line-height: 0.31rem;
	text-indent: 0.08rem;
	
}
.pro_s h2{
	padding-top: 0.17rem;
	font-size: 0.26rem;
	color: #464646;
}
.pro_s h3{
	font-size: 0.24rem;
	color: #FFFFFF;
	background: #3593f2;
	margin-top: 0.19rem;
	text-indent: 0.08rem;
	height: 0.38rem;
	line-height: 0.38rem;
	width: 2.4rem;
	background-image: url(../img/icon01.png);
	background-repeat:no-repeat;
	background-size:0.16rem 0.08rem;
	background-position: 2.11rem center;
	}
.pro_s h4{
	font-size: 0.24rem;
	color: #909090;
	margin-top: 0.1rem;
}
.hx{
	background: #FFFFFF;
}
.pro_s .part_01{
	padding-bottom: 0.21rem;
    background: #ffffff;
}
.liner{
	border-bottom: 1px solid #eaeaea;
	margin-top: 0.24rem;
}
.pad{
	background: #f6f6f6;
	height:0.18rem;
	border: 1px solid #e1e1e1;
}
.fn_ser h1{
	margin-top: 0.21rem;
	border-left: 4px solid #08c59f;
}
.pro_s .fn_ser h3{
	    background: #08c59f;

	
}
.fn_ser .article li img{
	width: 1.05rem;
	height: 0.85rem;
	
}
.fn_ser .right_a h2{
	padding-top: 0;
	
}
.fn_ser .article .right_a p{
	font-size: 0.22rem;
	color: #909090;
	text-align: left;
}
.fn_ser .article li{
	border: none;
	height: auto;
}
.fn_ser .right_a{
	height: auto;
}
.fn_ser .article ul{
	padding-top: 0.2rem;
	
}
.art_1 .zz{
	width: 100%;
	height: 4.6rem;
	margin-top: 0.24rem;
}
.expert h1{
	border-left: 4px solid #3593f2;
	
}
.expert .con_wz{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
     -moz-box-pack: justify;
     margin-top: 0.22rem;
     margin-bottom: 0.23rem;
	
}
.expert .td{
	width: 50%;
}
.expert img{
	width: 50%;
	height: 3.02rem;
}
.td h4{
	margin-left: 0.2rem;
	margin-top: 0;
	line-height: 0.34rem;
	
}
.fn li img{
	width: 3.17rem;
	height: 1.91rem;
}
.fn ul{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
     -moz-box-pack: justify;
     padding: 0 0.08rem;
     -webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.fn ul li p{
	text-align: center;
	font-size: 0.24rem;
	color: #909090;
}
